<div *ngIf="!loading">

  <div class="body container">
    
    <div class="body-img">
      
      <div class="position header-img">
        <img class="logo" [src]="logo" /> 
        <span >{{nickname}}</span>
        <span class="text-left"> Campeon mas usado</span>
      </div>
    
     <div class="position content">
      <img class="photo" [src]="photo" /> 
      <img class="champion" src="./../../../assets/img/Ornn_0.jpg" />
     </div>

     <app-metrics></app-metrics>
     
    </div>
  </div>
</div>
 

 
        
   
   
        
    


  

  